#area_chooser_window {
    background-color: alpha(@theme_selected_bg_color, 0.1);
    border: 3px dashed @theme_selected_bg_color;
}

#area_set_button {
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}

#area_grab_button:checked{
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}

#screen_grab_button:checked{
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}

#window_grab_button:checked{
    color: @theme_selected_fg_color;
    background: @theme_selected_bg_color;
}
